<div th:fragment="driver">
    <script type="text/javascript" th:src="@{/js/web/driver.js}"></script>
</div>

<div th:fragment="vehicle">
    <script type="text/javascript" th:src="@{/js/web/vehicle.js}"></script>
</div>

<div th:fragment="trip">
    <script type="text/javascript" th:src="@{/js/web/trip.js}"></script>
    <script type="text/javascript" th:src="@{/js/stepper/bs-stepper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment/moment.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment/moment-locale-es.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-datetimepicker.js}"></script>
</div>