<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}" media="screen">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap-datetimepicker.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/datatable/datatable.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/remodal/remodal.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/remodal/remodal-default-theme.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/all.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/fontawesome.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/sudo-notify/jquery.sudo-notify.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/stepper/bs-stepper.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">